@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.edu-box {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #d9d9d9;
  border: 1px solid var(--bg);
  padding: 0.8em 2em;
  font-weight: 600;
  margin: 5px;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: default;
}
